<article class="listing">
 <div class="meta">
   <h3><a target="_blank" href="https://www.reddit.com/user/{{unbound reply.data.url}}">{{reply.data.author}}</a> {{reply.data.score}}</h3>
   		<span>{{reply.data.body}}</span>
    	<br/>
  </div>
</article>

