<div class="container">
  <div class="nav">
    <div class="links">
      {{#link-to 'subreddit' 'r/askreddit'}}
        ASKREDDIT -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/worldnews'}}
        WORLDNEWS -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/videos'}}
        VIDEOS -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/funny'}}
        FUNNY -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/todayilearned'}}
        TODAYILEARNED -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/pics'}}
        PICS -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/gaming'}}
        GAMING -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/movies'}}
        MOVIES -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/news'}}
        NEWS -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/gifs'}}
        GIFS -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/mildlyinteresting'}}
        MILDLYINTERESTING -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/aww'}}
        AWW -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/showerthoughts'}}
        SHOWERTHOUGHTS -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/television'}}
        TELEVISION -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/jokes'}}
        JOKES -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/science'}}
        SCIENCE -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/oldschoolcool'}}
        OLDSCHOOLCOOL-
      {{/link-to}}

      {{#link-to 'subreddit' 'r/iama'}}
        IAMA -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/rarepuppers'}}
        RAREPUPPERS -
      {{/link-to}}

      {{#link-to 'subreddit' 'r/space'}}
        SPACE - 
      {{/link-to}}

      {{#link-to 'subreddit' 'r/zelda'}}
        ZELDA - 
      {{/link-to}}

      {{#link-to 'subreddit' 'r/tippytaps'}}
        TIPPYTAPS 
      {{/link-to}} 
    </div>
  </div>

  <div class="menu">
    <div class="snoo">
      {{#link-to 'index'}}
      <h1><em>readit</em></h1>
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
   </div>
</div>
