<div class="container">
  <div class="nav">
    <div class="links">
      {{#link-to 'subreddit' 'askreddit'}}
        ASKREDDIT -
      {{/link-to}}

      {{#link-to 'subreddit' 'worldnews'}}
        WORLDNEWS -
      {{/link-to}}

      {{#link-to 'subreddit' 'videos'}}
        VIDEOS -
      {{/link-to}}

      {{#link-to 'subreddit' 'funny'}}
        FUNNY -
      {{/link-to}}

      {{#link-to 'subreddit' 'todayilearned'}}
        TODAYILEARNED -
      {{/link-to}}

      {{#link-to 'subreddit' 'pics'}}
        PICS -
      {{/link-to}}

      {{#link-to 'subreddit' 'gaming'}}
        GAMING -
      {{/link-to}}

      {{#link-to 'subreddit' 'movies'}}
        MOVIES -
      {{/link-to}}

      {{#link-to 'subreddit' 'news'}}
        NEWS -
      {{/link-to}}

      {{#link-to 'subreddit' 'gifs'}}
        GIFS -
      {{/link-to}}

      {{#link-to 'subreddit' 'mildlyinteresting'}}
        MILDLYINTERESTING -
      {{/link-to}}

      {{#link-to 'subreddit' 'aww'}}
        AWW -
      {{/link-to}}

      {{#link-to 'subreddit' 'showerthoughts'}}
        SHOWERTHOUGHTS -
      {{/link-to}}

      {{#link-to 'subreddit' 'television'}}
        TELEVISION -
      {{/link-to}}

      {{#link-to 'subreddit' 'jokes'}}
        JOKES -
      {{/link-to}}

      {{#link-to 'subreddit' 'science'}}
        SCIENCE -
      {{/link-to}}

      {{#link-to 'subreddit' 'oldschoolcool'}}
        OLDSCHOOLCOOL-
      {{/link-to}}

      {{#link-to 'subreddit' 'iama'}}
        IAMA -
      {{/link-to}}

      {{#link-to 'subreddit' 'rarepuppers'}}
        RAREPUPPERS -
      {{/link-to}}

      {{#link-to 'subreddit' 'space'}}
        SPACE - 
      {{/link-to}}

      {{#link-to 'subreddit' 'zelda'}}
        ZELDA - 
      {{/link-to}}

      {{#link-to 'subreddit' 'tippytaps'}}
        TIPPYTAPS 
      {{/link-to}} 
    </div>
  </div>

  <div class="menu">
    <div class="snoo">
      {{#link-to 'index'}}
      <h1><em>readit</em></h1>
      {{/link-to}}
    </div>
    <!--<span class="thing">Popular</span>-->
  </div>
  <div class="body">
    {{outlet}}
   </div>
</div>
