<div class="container">
<div class="nav">
<div class="links">
  {{#link-to 'videos'}}
    ASKREDDIT -
  {{/link-to}}
  {{#link-to 'videos'}}
    WORLDNEWS -
  {{/link-to}}
{{#link-to 'videos'}}
    VIDEOS -
  {{/link-to}}
{{#link-to 'videos'}}
    FUNNY -
  {{/link-to}}
{{#link-to 'videos'}}
    TODAYILEARNED -
  {{/link-to}}
{{#link-to 'videos'}}
    PICS -
  {{/link-to}}
{{#link-to 'videos'}}
    GAMING -
  {{/link-to}}
{{#link-to 'videos'}}
    MOVIES -
  {{/link-to}}
{{#link-to 'videos'}}
    NEWS -
  {{/link-to}}
{{#link-to 'videos'}}
    GIFS -
  {{/link-to}}
{{#link-to 'videos'}}
    MILDLYINTERESTING -
  {{/link-to}}
{{#link-to 'videos'}}
    AWW -
  {{/link-to}}
{{#link-to 'videos'}}
    SHOWERTHOUGHTS -
  {{/link-to}}
  {{#link-to 'videos'}}
    TELEVISION -
  {{/link-to}}
{{#link-to 'videos'}}
    JOKES -
  {{/link-to}}
{{#link-to 'videos'}}
    SCIENCE -
  {{/link-to}}
{{#link-to 'videos'}}
    OLDSCHOOLCOOL-
  {{/link-to}}
{{#link-to 'videos'}}
    IAMA-
  {{/link-to}}
{{#link-to 'videos'}}
    RAREPUPPERS-
  {{/link-to}}



</div>
</div>
<div class="menu">
  <div class="snoo">
  {{#link-to 'index'}}
  <h1>
  <em>readit</em>
  </h1>
  {{/link-to}}
</div>
</div>
<div class="body">
    {{outlet}}
   </div>
</div>
